$background-color: rgb(252, 252, 252);
$map-primary-color: rgb(38, 84, 124);

$locColorMap: (
  company: rgb(184, 53, 84),
  school: rgb(3, 158, 117),
  festival: rgb(135, 163, 58),
  association: rgb(83, 53, 92),
  support: rgb(31, 30, 30),
  residency-stage: rgb(5, 6, 99)
);


