$background-color: rgb(252, 252, 252);
$map-primary-color: rgb(38, 84, 124);

$locColorMap: (
  company: rgb(239, 71, 111),
  school: rgb(6, 214, 160),
  festival: rgb(255, 209, 102),
  association: rgb(0, 0, 0),
  support: rgb(0, 0, 0),
  residency-stage: rgb(0, 0, 0)
);


